* {
  box-sizing: border-box;
}

html,body{
  background-color: #333;
  height: 100% !important;
  margin:0 !important;
  padding:0 !important;
}

.App {
  margin:0;
  padding:0;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-wrapper {
  background: black;
  border:6px solid orange;
  border-radius: 12px;
  box-shadow: 0 0 33px 0 rgba(0,0,0,0.75);
  margin: 0 auto;
  padding: 25px 50px;
  position:relative;
  max-width: 450px;
}

.form-wrapper .form-wrapper {
  background: white;
  border:0;
  box-shadow: 0 0 33px 0 rgba(0,0,0,0.75) inset;
  padding: 25px 50px;
  
}

label {
  display:none;
  font-style: italic;
}

input {
  border:1px solid #333;
  border-radius: 4px;
  font-size: 24px;
  line-height:2.0;
  margin-top:0;
  padding: 4px 8px;
  width: 100%;
}

p {
  margin:0 0 15px;
}

button.toggle-me {
  background: orange;
  border:2px solid black;
  border-radius: 6px;
  cursor:pointer;
  font-size: 36px;
  font-weight: bold;
  outline:0;
  padding: 8px 16px;
  width: 100%;
}

button.toggle-me:hover {
  background:darkorange;
}

button.toggle-me:focus,
button.toggle-me.active,
button.toggle-me:active {
  background: darkorange;
  color: white;
  border: 2px solid red;
} 

h1.centerme{
  color: #fff;
  margin:0 auto;
  padding: 25px 0;
  text-align:center;
}

.add-me {
  background: white;
  border:6px solid orange;
  border-radius: 50%;
  height:44px;
  left:-15px;
  position:absolute;
  top:-15px;
  width:44px;
}

.add-me::after {
  content: '+';
  font-size: 24px;
  font-weight:bolder;
  left:8px;
  position: relative;
}

#results {
  color: white;
}

em {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
}

ol li {
  margin-bottom: 10px;
  padding: 5px;
}

ol li:nth-child(even) {
  background: #333;
}

.newLine {
  display:block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
